.nav {
    top: 30px;
}
.hd{
    font-size: 20px;
}

ul li {
    list-style: none;
    display: inline-block;
    top: -70px;
    margin: 0 15px;
    color: blue;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    float: right;
    font-size: 25px;
}

.header {
    background-image: url(images/ac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.head {
    text-align: center;
    padding: 60px;
    font-size: 30px;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
    background-color: aliceblue;
    background-size: cover;
}

.introC {
    text-align: center;
    padding: 30px;
    padding-top: 30px;
}
.no1{
    text-align: center;
    background-color: azure;
    background-size: cover;
    padding-top: 0;
}
.haircuts{
    display: flex;
    justify-content: space-evenly;
    
}
.no2{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    height: 300px;
    padding: 40px;
}
.no3{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
   

}
.content3{
    padding: 10px;
}
.no4{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    height: 350px;
    background-color: azure;

}
.no5{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    height: 350px;
    background-color: aliceblue;

}
.content5{
    padding: 20px;
}
.Accessories{
    display: flex;
    justify-content: space-evenly;

}
.no6{
    text-align: center;
    background-color: azure;
    padding: 30px;
}
.footer{
        background-color: black ;
        height: -20px;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 8px;
        border: 1px black;
        padding-top: 10px;
        width: 100%;
}

