.nav {
    top: 30px;
}

ul li {
    list-style: none;
    display: inline-block;
    top: -70px;
    margin: 0 15px;
    color: blue;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    float: right;
}

.header {
    background-image: url(pg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.head {
    text-align: center;
    padding: 60px;
    font-size: 30px;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
    background-color: rgb(229,229,229);
}

.introC {
    text-align: center;
    padding: 30px;
    padding-top: 30px;
}
.no1{
    text-align: center;
    background-color: azure;
}
.haircuts{
    display: flex;
    justify-content: space-evenly;
    
}
.no2{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    height: 300px;
    padding: 40px;
}
.no3{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
   

}
.content3{
    padding: 10px;
}